<mat-grid-list cols="4">
    <mat-grid-tile colspan="4">
        <app-consulta-emprestimo></app-consulta-emprestimo>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4">
    <mat-grid-tile colspan="4">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Quanto deseja solicitar?</mat-label>
                <input #montante matInput type="number" required formControlName="montante"
                    [(ngModel)]="modelo.montante">
                <mat-error>O campo é obrigatório e deve conter um valor maior que 0</mat-error>
            </mat-form-field>

            <mat-form-field color="accent">
                <mat-label>Qual é a data de vencimento?</mat-label>
                <input [matDatepicker]="pickerDataVencimento" matInput type="text" required
                    formControlName="dataVencimento" [(ngModel)]="modelo.dataVencimento">
                <mat-datepicker-toggle matSuffix [for]="pickerDataVencimento"></mat-datepicker-toggle>
                <mat-datepicker #pickerDataVencimento></mat-datepicker>
                <mat-error>O campo é obrigatório</mat-error>
            </mat-form-field>

            <div class="btn-submit">
                <button type="submit" mat-raised-button color="primary"> Solicitar </button>
            </div>
        </form>
    </mat-grid-tile>
    <mat-grid-tile>
        <button type="button" mat-raised-button color="primary" placeholder="Sair" (click)="deslogar()">Sair</button>
    </mat-grid-tile>

</mat-grid-list>